<form action="{{ path('htm_stock_rechercheProduit') }} "  method="POST" class="navbar-form form-search pull-right">
    {{ form_widget(form.recherche) }}

    <button type="submit" class="btn">Recherche</button>
    {{  form_widget(form) }}
</form>